
html {
  background-color: #EEE;
}

#draggable_circle { 
  	width: 100px; 
  	height: 100px;  	 
  	position:absolute; 	
  	border:1px solid #D44;
  	background-color: #D44;
  	border-radius: 75px; 	
}

#draggable_square { 
  	width: 100px; 
  	height: 100px;  	
  	position:absolute; 	
  	background-color: #55E;
  	border:1px solid #55E;  	
}

#draggable_tri { 
    width: 100px; 
    height: 100px;      
    position:absolute;     
    background: url(../img/drag_game/triangle.png) no-repeat;  
}

#draggable_hex { 
    width: 100px; 
    height: 100px;      
    position:absolute;     
    background: url(../img/drag_game/hexa.png) no-repeat;  
}

#draggable_octa { 
    width: 100px; 
    height: 100px;      
    position:absolute;     
    background: url(../img/drag_game/octa.png) no-repeat;  
}

#droppable_circle {
   width: 500px; 
   height: 500px; 
   float: right; 
   margin: 10px;
   background-color: #E55;
   border: 1px solid #E55;
   border-radius:300px;
   position:absolute;
   top:25%;
   right:5%;
   z-index:-2;
}

.droppable_circle_hover {
   background-color: #E83 !important;
   border: 1px solid #E83 !important;
}



