html {
	cursor:url('/img/brush.png'),auto;
}

#buttons {
	width:100px;
	height:900px;
	float:left;

}

#clear {
	text-decoration: none;	
	width:50px;
	height:50px;
}

#clear img {
	text-decoration: none;	
	width:50px;
	height:50px;
}

#drawing_box {
	margin:0px auto;
	width:720px;
}

.cl {
	clear:both;
}

.color_pick {
	width:50px;
	height:50px;
}

.color_pick img {
	width:50px;
	height:50px;
}

#color_blue{
	background-color: #3CF;
}

#color_brown{
	background-color: #994433;
}

#color_green{
	background-color: #3C3;
}

#color_erase{
	background-color: #CCC;	
}

.size_pick {	
	margin: 5px 0px;

}

#size_12 {
	border-radius:6px;
	background-color: #994433;
	
	height:12px;
	width:12px;
}

#size_24 {
	border-radius:12px;
	background-color: #994433;
	
	height:18px;
	width:18px;
}

#size_32 {
	border-radius:16px;
	background-color: #994433;
	
	height:24px;
	width:24px;
}

#size_64 {
	border-radius:32px;
	background-color: #994433;
	
	height:30px;
	width:30px;
}